a {
  color: #11999E;
  margin: 50px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 28px;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px;
}

h1 {
  font-family: Sacramento;
  font-size: 90px;
  margin: 0;
  padding-top: 200px;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5em;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  margin: 50px auto 50px auto;
  width: 10%;
}

img {
  background-color: white;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  margin: 50px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #EAF6F6;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.contact-me
{
  width:40%;
  margin: 40px auto 60px;
}
.copyright {
  color: white;
  font-size: 15px;
  margin: 30px;
  font-family: monospace;
}

.hello {
  width: 35%;
  margin: 0 auto 0 auto;
}

.top-container {
  background-color: #f6f6f6;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  text-align: center;
  background-color: #66BFBF;
  height: 100px;
  padding-top: 50px;
}


.content-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dev-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 200px;
  height: 70px;
  top: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 270px;
  height: 90px;
}
