
body
{
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

h1
{
  margin-top: 0;
  font-family: Sacramento;


}
.top-container
{
    background-color: #f6f6f6;
}

.middle-container
{

}
.bottom-container
{

}
img{
  background-color: white;
}
.pro
{
  text-decoration: underline;
}
.top-cloud
{
position: absolute;
right: 200px;
height: 90px;
top: 10px;
}
.bottom-cloud
{
  position: absolute;
  left: 270px;
  height: 90px;
}
